#!/usr/bin/make -f
export DH_VERBOSE = 1

PKG = node-red-contrib-multiflexi
DEST = debian/$(PKG)/usr/share/node-red/node_modules/$(PKG)
VARICONS = debian/$(PKG)/var/lib/$(PKG)/icons

%:
	dh $@

override_dh_auto_install:
	install -d $(DEST)/multiflexi
	cp -a multiflexi/. $(DEST)/multiflexi/
	rm -rf $(DEST)/multiflexi/icons
	install -d $(VARICONS)
	install -m 644 multiflexi/icons/multiflexi.svg $(VARICONS)/
	ln -s /var/lib/$(PKG)/icons $(DEST)/multiflexi/icons
	cp -a package.json README.md $(DEST)/
	[ -d examples ] && cp -a examples $(DEST)/ || true
	install -d debian/$(PKG)/usr/share/icons/hicolor/scalable/apps
	install -m 644 node-red-contrib-multiflexi.svg \
		debian/$(PKG)/usr/share/icons/hicolor/scalable/apps/
	install -d debian/$(PKG)/usr/share/metainfo
	install -m 644 debian/io.github.vitexus.node_red_contrib_multiflexi.metainfo.xml \
		debian/$(PKG)/usr/share/metainfo/
	install -d debian/$(PKG)/etc/systemd/system/node-red.service.d
	install -m 644 debian/node-red-nodepath.conf \
		debian/$(PKG)/etc/systemd/system/node-red.service.d/

override_dh_shlibdeps:

override_dh_strip:
